body {
	background: #999;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Arimo", arial, verdana, sans-serif;
    font-weight: normal;
}

 ul.a {
 	list-style-type: none;
 	margin: 0;
 	padding: 0;
 	overflow: hidden;
 	background-color: #333;
 }

li.a{
	float: left;
}

li a.a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

title {

	background-image: url(logo.ico);
}
#headline {
    text-align:center;
}
.menu {
    font-family: "Arimo", Arial, Verdana, sans-serif:
}
