/*----------IMPORTS----------*/
@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);

body {
	background: #999;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Arimo", arial, verdana, sans-serif;
    font-weight: normal;
}

title {
	background-image: url(logo.ico);
}
#headline {
    text-align:left;
    background-color:#000000;
}
#banner {
    text-align:center;
}
.menu {
    font-family: "Arimo", Arial, Verdana, sans-serif:
}
